<!DOCTYPE html>
<html>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 mb-2 border-bottom">
			<a th:href="@{/}" class="navbar-brand">
				<img th:src="@{/img/task-management-logo.png}" width="40" height="30" class="d-inline-block align-top">
				<span th:text="#{GENERAL.applicationName}"></span>
			</a>
			
			<ul class="navbar-nav">
				<li class="nav-item">
					<a th:href="@{/}" th:text="#{GENERAL.showTask}" class="nav-link "></a>
				</li>
				
				<li class="nav-item">
					<a th:href="@{/add}" th:text="#{GENERAL.registTask}" class="nav-link"></a>
				</li>
				
				<li class="nav-item">
					<a th:href="@{/userInfo}" th:text="#{GENERAL.userInfo}" class="nav-link"></a>
				</li>
				
				<li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
					<a th:href="@{/admin/userList}" th:text="#{GENERAL.userList}" class="nav-link"></a>
				</li>
				
				<li class="nav-item">
					<a th:href="@{/logout}" th:text="#{GENERAL.logout}" class="nav-link"></a>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>