<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="login">
		<!-- ${param.}:リクエストパラメータを保持する -->
		<div class="alert alert-danger" th:if="${param.errorRegister}">
			<small th:text="#{message.errorUserInfo}"></small>
		</div>
		
		<div class="alert alert-success" th:if="${param.successRegister}">
			<small th:text="#{message.registerUserInfo}"></small>
		</div>
		
		<div class="alert alert-success" th:if="${param.logout}">
			<small th:text="#{message.logout}"></small>
		</div>
	</div>
	
	<div th:fragment="error">
		<div class="text-center">
			<div class="display-1" th:text="${status}"></div>
			<div class="text-body-secondary mb-4" th:text="${error}"></div>
			
			<div th:text="#{message.errorPage}" class="text-body-secondary"></div>
			<a th:href="@{/}" th:text="#{message.toHome}"></a>
		</div>
	</div>
	
</body>
</html>