.offcanvas{
	width:200px !important;
}

@media(min-width:992px){
	.offcanvas{
		transform:none !important;
		visibility:visible !important; 
	}
	
	.offcanvas-outside{
		transition:margin-left 0.3s ease-in-out;
		margin-left:200px;
	}
}

.btn-circle{
	width:40px;
	height:40px;
	border-radius:50%;
	opacity:0.5;
	border:0;
}

/* リンクの下線を引かない */
a{
	text-decoration:none;
}

.mh-100{
	height:calc(100vh - 56px)
}

.table > :not(:first-child){
	border-top:0;
}