<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<main layout:fragment="content" class="bg-primary">
		<div class="container">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card shadow" style="max-width:480px;">
					<div class="card-body">
						<h3 th:text="#{general.applicationName}"
							class="card-title mb-3 text-center text-navy">
						</h3>
						
						<div th:replace="~{fragments/message::login}"></div>
						
						<form th:action="@{/login}" method="post">
							<div class="mb-3">
								<input class="form-control" type="text"
									name="username" placeholder="ユーザ名">
							</div>
							
							<div class="mb-3">
								<input class="form-control" type="password"
									name="password" placeholder="パスワード">
							</div>
							
							<div class="mb-3 form-check">
								<input class="form-check-input" type="checkbox"
									id="remember-me" name="remember-me">
							
								<label th:text="#{login.keepLogin}" class="form-check-label"
									for="remember-me">
								</label>
							</div>
							
							<button th:text="#{login.login}" class="w-100 btn btn-navy"
								type="submit">
							</button>
						</form>
						
						<hr>
						
						<div class="text-center">
							<a th:href="@{/register}" th:text="#{login.register}" class="text-navy"></a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>