<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">
<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<main layout:fragment="content" class="bg-body-tertiary">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h6 th:text="#{GENERAL.userList}" class="my-1"></h6>
						</div>
						
						<div class="card-body table-responsive">
							<table id="user-table" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th th:text="#{SiteUser.id}"></th>
										<th th:text="#{SiteUser.username}"></th>
										<th th:text="#{SiteUser.email}"></th>
										<th th:text="#{SiteUser.authority}"></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="user:${users}" th:object="${user}">
										<td th:text="*{id}"></td>
										<td th:text="*{username}"></td>
										<td th:text="*{email}"></td>
										<td th:text="*{authority}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>