<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/loginLayout}">
<head>
	<meta charset="UTF-8" th:remove="tag">
</head>

<body>
	<main layout:fragment="content">
		<div class="container-fluid">
			<div class="row vh-100 align-items-center justify-content-center">
				<div class="card p-0" style="max-width:480px;">
					<div class="card-header bg-light">
						<p th:text="#{userRegister.registUser}" class="h3 card-title text-center m-0"></p>
					</div>
					
					<div class="card-body">
						<form th:action="@{/register}" th:object="${user}" method="post" novalidate>
							<div class="mb-3 form-floating">
								<input class="form-control"
									type="text"
									th:errorclass="is-invalid"
									th:field="*{username}"
									th:placeholder="#{SiteUser.username}">
								
								<label for="username" th:text="#{SiteUser.username}" class="form-label">
									<span th:text="#{userRegister.required}" class="badge bg-danger"></span>
								</label>
								
								<span class="invalid-feedback" th:errors="*{username}"></span>
							</div>
							
							<div class="mb-3 form-floating">
								<input class="form-control"
									type="password"
									th:errorclass="is-invalid"
									th:field="*{password}"
									th:placeholder="#{SiteUser.password}">
								
								<label for="password" th:text="#{SiteUser.password}" class="form-label">
									<span th:text="#{userRegister.required}" class="badge bg-danger"></span>
								</label>
								
								<span class="invalid-feedback" th:errors="*{password}"></span>
							</div>
							
							<div class="mb-3 form-floating">
								<input class="form-control"
									type="email"
									th:errorclass="is-invalid"
									th:field="*{email}"
									th:placeholder="#{SiteUser.email}">
								
							
								<label for="email" th:text="#{SiteUser.email}" class="form-label">
									<span th:text="#{userRegister.required}" class="badge bg-danger"></span>
								</label>
								
								<span class="invalid-feedback" th:errors="*{email}"></span>
							</div>
							
							<div class="mb-3 form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" th:field="*{admin}">
								<label th:text="#{userRegister.registAsAdmin}"
									class="form-check-label" th:for="${#ids.prev('admin')}">
								</label>
							</div>
							
							<button th:text="#{userRegister.regist}" class="w-100 btn btn-primary" type="submit"></button>
							
						</form>
						
						<hr>
						
						<div class="text-center">
							<a th:href="@{/login}" th:text="#{userRegister.toLogin}" class="text-navy"></a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</main>
	
</body>
</html>